<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <!-- Header tag - identigie the tip of the page and usually navbar-->
        <header>
            <!-- h1 or heading1 denote the main title with h2 and beyond being 
            subheading-->
            <a href="/"><h1>Django Girl Blog</h1></a>
        </header>
        <!-- article tage is like the header tag.. it does not do anything but denote that 
        this is an article-->
        <article>
            <!-- time tagg denote someithing is in utc or other time value-->
            <time></time> published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p> I like cat and dog equally</p>
        </article>
        <article>
            <time> published: 14.06.2024, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p> This is the day</p>
        </article>
    </body>
</html>